import { get } from "@parameter1/base-cms-object-path";

$ const { id, alias, name, pageNode } = input;

$ const { site } = out.global;

<global-website-section-home-layout
  id=id
  alias=alias
  name=name
  page-node=pageNode
>
  <!-- <@head>
    <meta name="google-site-verification" content="NOT_SET" />
  </@head> -->

  <@section>
    <theme-section-list-deck-block aliases=["utility-operations", "legislation", "technology"] />
  </@section>

</global-website-section-home-layout>
