$ const { id, type, pageNode, ...rest } = input;

<global-content-default-layout
  id=id
  type=type
  page-node=pageNode
  ...rest
>
  <@section>
    <div role="region" aria-label="Most Popular Stories">
      <theme-client-side-most-popular-block />
    </div>
  </@section>
</global-content-default-layout>
