$theme-site-header-breakpoints: (
  hide-primary: 800px, // effectively always hide the primary nav
  hide-secondary: 780px,
  small-logo: 980px,
  small-text-primary: 0,
  small-text-secondary: 980px
);

// Colors
$primary: #103a57;

@import "../../node_modules/@rogue-monkey-media/package-global/scss/core";


.site-header {
  .site-navbar {
    &--primary {
      background-color: #3956a6;
    }
    &__items {
      text-transform: none;
      &--primary {
        font-size: 14px;
        .site-navbar {
          &__label {
            color: $white;
          }
          &__item {
            padding-right: map-get($spacers, 4);
            padding-left: map-get($spacers, 4);
          }
          &__item:last-of-type {
            padding-right: 0;
          }
        }
      }
      &--secondary {
        .site-navbar {
          &__link {
            padding-right: map-get($spacers, 4);
            padding-left: map-get($spacers, 4);
          }
        }
        font-size: 1rem;
      }
    }
  }
}

.site-footer {
  margin-top: 55px;
  box-shadow: none;
  .social-follow{
    &__header {
      display: none;
    }
    &__section {
      margin-top: 12px;
    }
  }
  &__container--primary {
    padding-top: map-get($spacers, 3);
    padding-bottom: map-get($spacers, 3);
    .site-footer {
      &__copyright {
        padding-right: map-get($spacers, block);
        line-height: 1.5em;
      }
      &__inner-container {
        flex-direction: row;
        justify-content: center;
        @media (max-width: 700px) {
          @include make-col(12);
          flex-direction: column;
        }
        .breadcrumbs {
          &--site-footer {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  &__container--secondary {
    background-color: #136abc;
  }
  &__section {
    @include make-col(3);
    padding-right: map-get($spacers, block);
    @media (max-width: $marko-web-document-container-max-width) {
      @include make-col(6);
    }
    @media (max-width: 700px) {
      @include make-col(12);
      flex-direction: row-reverse;
    }
  }
  &-nav__header {
    position: relative;
    display: inline-block;
    padding-bottom: map-get($spacers, 1);
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc(100% + 20px);
      height: 1px;
      content: "";
      background-color: #d8d8d8;
    }
  }
}


.site-footer .wave-wrapper {
  position: absolute;
  top: -54px;
  width: 100%;
  height: calc(100% + 54px);
  overflow: hidden;
}

.site-footer .wave-textured {
  top: 0;
  z-index: -1;
}
.wave-textured {
  @keyframes movehorz3 {
    from {
      right: 0;
    }
    to {
      right: -5000px;
    }
  }
  position: absolute;
  right: 0;
  width: 8544px;
  height: calc(100% + 54px);
  background-image: url("https://p1-cms-assets.imgix.net/files/base/roguemonkeymedia/all/image/static/nrwa/nrwa-waves-footer.png");
  background-repeat: no-repeat;
  animation: movehorz3 64s linear infinite alternate;
}

.site-menu {
  &__contents-desktop {
    padding-top: 60px;
  }
  &__contents-mobile {
    padding-top: 50px;
  }
}
