@import "@parameter1/base-cms-marko-web/scss/fonts/alata-fallback";
@import "@parameter1/base-cms-marko-web/scss/fonts/open-sans-fallback";

$skin-font-family-primary: "Alata", alata-fallback, sans-serif;
$skin-font-family-secondary: "Open Sans", open-sans-fallback, sans-serif;

$navbarStyle: "navbar" !default;
$theme-site-navbar-logo-height: 45px;
